/* Background Immagine */
.back-image {
    background-image: url('Documenti/albero.jpg'); /* percorso dell'immagine */
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Stile per il titolo principale */
.main-header {
    background-color: #28a745;
    color: white;
    padding: 40px 0;
    margin-bottom: 30px;
    text-align: center;
}

/* Stili per il titolo principale */
.main-header h1 {
    font-weight: 700;
}

.main-header p {
    font-size: 16px;
    margin-top: 10px;
}

/* Stile per evidenziare una parola */
.highlight-word {
    color: #ffc107;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Aggiunge ombra */
}

/* Stili per la descrizione dell'azienda */
.azienda-descrizione {
    text-align: center;
    color: #2f4f4f;
    margin-bottom: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.azienda-descrizione h3 {
    font-weight: bold;
    color: #006400;
}

.azienda-descrizione p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Stile generale della pagina */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Contenitore principale */
.container {
    margin-top: 50px;
}

/* Margine delle box */
.box {
    margin-bottom: 30px;
    border: 1px solid #2f4f4f; 
    border-radius: 20px; /* Angoli arrotondati */
    background-color: #e2f4e2;
    padding: 20px;
}

/* Stile dei titoli e pulsanti delle card */
.card-title {
    color: #006400;
}

.card-body {
    text-align: center;
}

/* Pulsanti */
.btn {
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #218838; /* Colore leggermente più scuro al passaggio del mouse */
    transform: scale(1.05); /* Effetto di ingrandimento */
}

/* Footer */
footer {
    height: 50px;
    background-color: #f8f9fa;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #2f4f4f; 
}

/* Stile responsivo */
@media (max-width: 768px) {
    .main-header {
        padding: 20px 0;
    }

    .azienda-descrizione p {
        font-size: 1rem;
    }

    .box {
        margin-bottom: 20px;
    }

    .container {
        margin-top: 30px;
    }
}
